/node_modules
/platforms
!/platforms/.gitkeep
/plugins
!/plugins/.gitkeep
resources/signing
src/plugins/*/src/ios/Config.swift
src/plugins/*/src/android/Config.java
config.json
node_modules-licenses.txt
appium.log
